<p>{{stringInterpolation}}</p>
<br>
<h1> Property binding </h1>

<input type="text" [value]="stringInterpolation">

 <p [ngClass]="{redBorder: true}">is this styled?</p>
 <p [ngStyle]="{color: 'blue'}">is this styled?</p>
 <p [ngClass]="{redBorder: onTest()}">is this styled?</p>

 <app-property-binding [result]="10"></app-property-binding>
 <h1>event binding</h1>
 <app-event-binding (theProp)="func($event)" ></app-event-binding>
 <h1>Two-Way binding </h1>
 <app-twoway-binding></app-twoway-binding>

